node_modules
trash
*.py
*.sqlite3
*.bin
*.pyc
backend/RAG/data/federated.json
backend/.env
backend/RAG/.env
backend/README.md
backend/render.yaml
backend/requirements.txt
backend/test_data.txt
backend/test_data_base64.txt
backend/test_frontend.html
